@use "../../styles/variables" as *;
@use "../../styles/mixins" as *; 

.fortuneSection {
	font-family: "Alumni Sans", sans-serif;
	gap: 24px;
	@include flex-row-space-between;

	.wheelSection {
		border: 2px solid $blockBorders;
		border-radius: 8px;
		padding: 0;
		width: calc(50% - 12px);

		.wheelTop {
			padding: 24px 24px 16px;
			@include flex-row-space-between;

			.wheelText {
				.wheelTitle {
					font-size: 32px;
					font-weight: 600;
					text-transform: uppercase;
					color: $text;
				}

				.wheelSubTitle {
					color: $text-gray;
					max-width: 210px;
				}
			}

			img {
				width: 72px;
				height: 72px;
			}
		}

		.rouletteWrapper {
			overflow: hidden;
			position: relative;

			.wheelList {
				display: flex;
				gap: 4px;
				padding: 0;
				margin: 0;

				.listItem {
					width: 120px;
					min-width: 120px;
					padding: 16px 0;
					border: 1px solid $text-gray;
					border-radius: 8px;
					font-family: "Alumni Sans", sans-serif;
					color: $text-gray;
					flex-shrink: 0;
					align-items: center;
					@include flex-column;

					.itemPrize {
						text-transform: uppercase;
						font-size: 24px;
						font-weight: 600;
					}

					.itemPrizeValue {
						font-size: 32px;
						font-family: "Kelly Slab", sans-serif;
					}
				}
			}

			.pointerContainer {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 120px;
				height: 100%;
				border: 2px solid $accent;
				border-radius: 8px;
				z-index: 10;
				pointer-events: none;
				
				&::after {
					content: "";
					position: absolute;
					bottom: 0px;
					left: 50%;
					transform: translateX(-50%) rotate(180deg);
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-top: 24px solid $accent;
				}
			}
		}
		
		.wheelBottom {
			padding: 16px 24px 24px;

			p {
				margin-top: 16px;
			}

			.daysBlock {
				border: 1px solid $blockBorders;
				border-radius: 8px;
				padding: 8px 16px;
				margin-top: 10px;
				position: relative;
				@include flex-row-space-between;

				&::before {
					content: '';
					position: absolute;
					left: calc(29px + 7%); 
					top: 50%;
					height: 16px;
					background-color: $accent;
					transform: translateY(-50%);
					z-index: 1;
					width: calc(var(--progress-step) * 14.3%);
					transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
					pointer-events: none;
				}

				&::after {
					content: '';
					position: absolute;
					left: 34px;
					top: 50%;
					width: 68px;
					height: 16px;
					background-color: $accent;
					transform: translate(-50%, -50%);
					z-index: 1;
				}

				.day {
					font-size: 44px;
					font-weight: 600;
					margin: 0;
					width: 14%;
					text-align: center;
					position: relative;
					z-index: 2;
				}
			}
		}

		@include sm-pre {
			width: 100%;
		}
	}

	.infoSection {
		background-color: $text;
		color: $bg;
		padding: 28px 24px 24px;
		width: calc(50% - 12px);
		position: relative;

		.infoTitle {
			font-size: 32px;
			font-weight: 600;
			margin-bottom: 8px;
			text-transform: uppercase;
		}

		.infolText {
			color: $blockBorders;
			margin-bottom: 16px;
			white-space: pre-line;
		}

		@include sm-pre {
			width: 100%;
		}
	}

	@include sm-pre {
		@include flex-column;
	}
}

.collectButton {
    background-color: $text !important;
    color: $bg !important;
}