$container-desktop: 1170px;
$container-tablet: 928px;
$container-tablet-sm: 720px;
$container-mobile: 343px;

/* Colors */

$bg: #1E2025;
$text: #FDFDFD;
$accent: #FF0633;
$text-gray: #C3C2BD;
$blockBorders: #2E3139;

/* Shadows */

$shadow-primary: 0 8px 12px 6px rgba(0, 0, 0, 0.15);
$shadow-secondary: 0 4px 4px 0 rgba(0, 0, 0, 0.3);