@use "./reset";
@use "./variables" as *;
@use "./mixins" as *;

@font-face {
	font-family: "Kelly Slab";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('/src/fonts/KellySlab-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "Alumni Sans";
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('/src/fonts/AlumniSans-VariableFont_wght.ttf') format('truetype');
}

body {
	font-family: "Alumni Sans", sans-serif;
	font-weight: 400;
	font-size: 20px;
	background: $bg;
	color: $text;
	line-height: 1;
}

.mainContainer {
	@include lg {
		margin: 0 52px;
	}

	@include md {
		margin: 0 48px;
	}

	@include sm {
		margin: 0 24px;
	}

	@include xs {
		margin: 0 16px;
	}
}

.statusButton {
	position: absolute;
	font-size: 20px;
	background-color: $accent;
	top: 0;
	padding: 2px 8px;
	box-shadow: $shadow-primary, $shadow-secondary;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

ul, li {
	list-style: none;
}